[project]
name = "{{ package_name }}"
version = "{{ version }}"
description = "{{ package_description }}"
readme = "README.md"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
requires-python = "{{ python_requires }}"
dependencies = [
    "pydantic>=2.12.5",
    "software-koppeling-connector-base>=0.4.0",
]


[build-system]
requires = ["uv_build>=0.9.5,<0.10.0"]
build-backend = "uv_build"

[dependency-groups]
dev = [
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
    "ruff>=0.14.13",
    "twine>=6.2.0",
]

[tool.uv]
extra-index-url = ["https://repo.software-koppeling.nl/simple/"]
